body{
    background-color: #f4f6f9;
    font-family: sans-serif;
}

.formstyle{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 320px;
    padding: 30px;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}



input{
    width: 100%;
    padding: 10px;
    /* margin: 8px 0; */

    border: 1px solid #ccc;
    border-radius: 6px;

    box-sizing: border-box;
}

input[type="submit"]{
    background-color: #0078d4;
    color: white;
    border: none;

    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

    transition: 0.3s;
}

input[type="submit"]:hover{
    background-color: #005ea6;
}

/* テキストボックス専用 */
input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

/* 送信ボタン専用 */
input[type="submit"]{
    width: 150px;
    margin: 15px auto 0;
    display: block;

    background: #0078d4;
    color: white;
    border: none;
    border-radius: 6px;
}

.atag{
    position: absolute;
    left: 50%;
    bottom: 10.5%;
    transform: translate(-50%, -50%);
}
.atag2{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -50%);
}